/* svg intro animation */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#preloader {
    width: 100%;
    height: 100vh;
    background-color: #1A1A1A;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill-letters 0.9s ease forwards infinite 3s;
}

#logo path:nth-of-type(1) {
    stroke-dasharray: 682;
    stroke-dashoffset: 682;
    animation: line-anim 3.5s ease forwards;
}

#logo path:nth-of-type(2) {
    stroke-dasharray: 667;
    stroke-dashoffset: 667;
    animation: line-anim 3.5s ease forwards 0.3s;
}

#logo path:nth-of-type(3) {
    stroke-dasharray: 597;
    stroke-dashoffset: 597;
    animation: line-anim 3.5s ease forwards 0.6s;
}

#logo path:nth-of-type(4) {
    stroke-dasharray: 645;
    stroke-dashoffset: 645;
    animation: line-anim 3.5s ease forwards 0.9s;
}

#logo path:nth-of-type(5) {
    stroke-dasharray: 531;
    stroke-dashoffset: 531;
    animation: line-anim 3.5s ease forwards 1.2s;
}

#logo path:nth-of-type(6) {
    stroke-dasharray: 601;
    stroke-dashoffset: 601;
    animation: line-anim 3.5s ease forwards 1.5s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-letters {
    from {
        fill: transparent;
    }

    to {
        fill: #db0202;
    }
}

/*body*/
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

/* Header navbar */
.navbar {
    padding: 0em 1em;
    background-color: #1a1a1a;
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-active-color: #db0202;
    --bs-nav-link-hover-color: var(--bs-navbar-ative-color);
}

.navbar-text {
    position: absolute;
    left: 47%;
    font-size: 1.7em;
    color: #fff;
    font-family: Audiowide;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.2em;
}

/* scrollToTop */
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    z-index: 999;
}

/* home */
#myVideo {
    width: 100%;
    height: 100%;
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
}

#home {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.elementsPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlsPosition {
    display: flex;
    position: relative;
}

.muteDivOff {
    display: none;
}

.muteDivOn {
    display: block;
    width: 100%;
    height: 86vh;
}

.turnVolOn {
    animation: appear ease-in 0.4s;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.turnVolOn:hover {
    cursor: pointer;
    background-color: #39464ab0;
}

#controlsWrap {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 70px;
    background-color: transparent;
}

#videoControls {
    position: absolute;
    bottom: 10px;
    width: 96%;
    display: none;
    margin-left: 2%;
    margin-right: 2%;
}

#playPausePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#playPausePic:hover {
    background-color: #39464ab0;
}

#volWrap {
    position: relative;
    border-radius: 1000px;
    height: 35px;
    width: 180px;
    float: right;
}

.rangeDisplayOff {
    display: none;
    padding-top: 4px;
}

.rangeDisplayOn {
    position: absolute;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 0 1000px 1000px 0;
    height: 30px;
    width: 150px;
    display: inline;
    background-color: #39464ab0;
    animation: volSlideUp ease-in 500ms;
}

@keyframes volSlideUp {
    from {
        margin-right: 100%;
        width: 0%
    }

    to {
        margin-right: 0%;
        width: 80%;
    }
}

.volRangeSlideUp {
    animation: volSlideUp ease-in 500ms;
    width: 129px;
}

#muteUnmute {
    width: 30px;
    height: 30px;
    border-radius: 50% 0 0 50%;
}

#fullscreenPic {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#fullscreenPic:hover {
    background-color: #39464ab0;
}

#progress {
    position: relative;
    margin-left: 0px;
    width: 100%;
}

#progress-bar {
    width: 100%;
}

.slogan {
    position: absolute;
    background: rgba(255, 255, 255, 0.719);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Audiowide;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    color: #1a1a1ab9;
    animation: fadeInAnimation ease-in 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.slogan>h2 {
    animation: slidein ease 1500ms;
    animation-iteration-count: 1
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.slogan>h4 {
    font-size: 3em;
    animation: slidein2 ease 1500ms;
    animation-iteration-count: 1;
}

@keyframes slidein2 {
    from {
        margin-right: 100%;
        width: 300%
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

.sloganOut {
    animation: slideout ease 0.9s 1;
}

@keyframes slideout {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.slideTop {
    animation: slideTop 1s ease-out;
}

@keyframes slideTop {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -100%);
    }
}

.scrolldown {
    bottom: 8%;
    left: 50%;
    position: absolute;
    width: 30px;
    height: 50px;
    border: 4px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    z-index: 99;
}

.scrolldown:hover {
    background-color: #39464ab0;
}

.scrolldown::before,
.scrolldown::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrollDown 1s ease-in-out infinite;
}

.scrolldown::after {
    animation-delay: 0.35s;
    top: 20%;
}

/* sgContainer */
h1 {
    margin-bottom: 0.5em;
    color: #fff;
    font-size: 3.8em;
    font-family: Audiowide;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
    text-transform: none;
}

#sgContainer>div {
    background-color: #000;
    padding: 0px 0px;
}

h1+section, #gallery {
    background-image: url("img/equalizer.png");
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.sampletext {
    font-size: 1.9em;
    font-weight: 100;
    color: #fff;
}

/* gallery */

[data-inviewport="scale-in"] {
    transition: 2s;
    transform: scale(0.1);
}

[data-inviewport="scale-in"].is-inViewport {
    transform: scale(1);
}

h1+section>div:nth-of-type(1), #contact>div:nth-of-type(1), h1+section>h4, #gallery>div:nth-of-type(1) {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.548);
}


#sgContainer>div img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

.webLink {
    border: 10px solid #fff;
    border-radius: 50%;
    transition: box-shadow 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transform: scale(0.4);
}

.webLink:hover, .webLink:focus {
    box-shadow: 0.5em 0.5em 2em -0.5em #db0202, -0.5em -0.5em 2em -0.5em #db0202, -0.5em 0.5em 2em -0.5em #db0202, 0.5em -0.5em 2em -0.5em #db0202;
}

.embeds {
    margin-bottom: 3em;
    border: 1px solid #fff;
    width: 300px;
    height: 400px;
}

.logoEnlarger {
    background-color: transparent;
    width: 100%;
}

/* footer */
footer>nav {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

#contact {
    background-image: url("img/redsunWallpaper.png");
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-size: contain;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: #fff;
}

#redLink {
    color: #db0202;
}

ul li a:hover, ul li a:focus {
    color: #db0202;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid #fff;
    padding-top: 1em;
    padding-left: 0em;
}

footer {
    background-color: #1A1A1A;
}
/* instagran and facbook drawn with css in the footer */
.bigRound {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.square {
    width: 22px;
    height: 22px;
    border: 0.1em solid #fff;
    border-radius: 25%;
}

.rectangle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 8px;
    border-bottom: 2px solid #fff;
}

.point {
    background-color: #fff;
    width: 3px;
    height: 3px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 1px;
}

.smRound {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    left: 3px;
}

.lowerRow {
    padding-bottom: 1.5em;
    margin: 0% 25%;
    margin-top: 1.4em;
    text-align: center;
    color: #fff;
    border-top: 1px solid #fff;
    padding-bottom: 1.5em;
    font-weight: 300;
    font-size: 0.9em;
}

#contact>div:nth-of-type(1) {
    margin-top: 20em;
}

h2 {
    font-size: 3.5em;
    font-family: Audiowide;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    color: #f1f1f1;
}

/* media queries */
@keyframes scrollDown {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
        top: 80%
    }
}

@media (max-width:1250px) {
    h1 {
        font-size: 3.4em;
    }

    .turnVolOn {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1078px) {
    h1 {
        font-size: 3.1em;
    }

    .turnVolOn {
        width: 200px;
        height: 200px;
    }
}

@media(max-width:991px) {
    .footerLinks {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 15%;
        width: 70%
    }

    footer>Nav p {
        margin-left: 5em;
        margin-right: 5em;
    }

    .navbar-text {
        position: unset;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 3.0em;
    }
}

@media (max-width: 837px) {
    .slogan>h4 {
        font-size: 2.5em
    }

    .slogan>h2 {
        font-size: 3.5em
    }
}

@media (max-width:586px) {
    h1 {
        font-size: 2.5em;
    }
    .slogan>h4 {
        font-size: 2em
    }

    .slogan>h2 {
        font-size: 2.5em
    }

}

@media (max-width:418px) {
    .slogan>h4 {
        font-size: 1.8em
    }

    .slogan>h2 {
        font-size: 2em
    }

    .turnVolOn {
        width: 150px;
        height: 150px;
    }

}