

h1 {
    color: #fff;
    font-size: 3em;
    font-family: Audiowide;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    padding-bottom: 0.5em;
}

.h1container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 4em 0 2em;
}

.maincontent {
    background-color: #db0202;
    padding-bottom: 3em;
}

.h2container {
    height: 25vh;
    background-color: #fff;
    color: #db0202;
}

.samplesLinks {
    font-size: 2em;
    font-family: roboto, sans-serif;
    color: #fff;
    line-height: 2em;
}

.soundcloudEmbed {
    margin-top: 8em;
    margin-bottom: 8em;
}


